name: gift-portal
on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn

      - name: Start Server
        run: yarn dev
        
      - name: Run Cypress Tests
        run: yarn cypress:ci
      
        env:
          APP_GITHUB_KEY:  ${{ secrets.APP_GITHUB_KEY }}
          NEXT_PUBLIC_ORG_NAME: ${{ secrets.NEXT_PUBLIC_ORG_NAME }}
          REFRESH_DATA_IN_METASTORE: ${{ secrets.REFRESH_DATA_IN_METASTORE }}
          NEXT_PUBLIC_API_MOCKING: ${{ secrets.NEXT_PUBLIC_API_MOCKING }}

  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn
    
      - name: Run tests
        run: yarn test
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn
    
      - name: Run lint check
        run: yarn lint
